##### Handle Categorical Features
###### One Hot Encoding
creates more features

In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv(r'C:\Users\Gaurav\Downloads\titanic.csv',usecols=['Sex'])

In [47]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [48]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [49]:
pd.get_dummies(df,drop_first=True).head()
# male == 1 /  female == 0

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [50]:
df=pd.read_csv(r'C:\Users\Gaurav\Downloads\titanic.csv',usecols=['Embarked'])

In [51]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [52]:
# droping nan value
df.dropna(inplace=True)

In [53]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

In [54]:
#### Onehotencoding with many categories in a feature

In [55]:
df=pd.read_csv(r'C:\Users\Gaurav\Downloads\mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [56]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [57]:
# let's have a look at how many labels each variable has
for i in df.columns:
    print(i, ':', len(df[i].unique()), 'labels')

X0 : 47 labels
X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [58]:
df.X1.value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: X1, dtype: int64

In [59]:
# considering only top 10 & dropping rest
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [29]:
# in terms of list
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [30]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [32]:
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [33]:
lst_10.append('X1')

In [34]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

In [60]:

# get whole set of dummy variables, for all the categorical variables

def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [62]:

# read the data again
df = pd.read_csv(r'C:\Users\Gaurav\Downloads\mercedes.csv', usecols=['X1', 'X2'])

# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, 'X2', lst_10)
df.head()

  X1  X2  X2_aa  X2_s  X2_b  X2_l  X2_v  X2_r  X2_i  X2_a  X2_c  X2_o  X2_X1
0  v  at      0     0     0     0     0     0     0     0     0     0      0
1  t  av      0     0     0     0     0     0     0     0     0     0      0
2  w   n      0     0     0     0     0     0     0     0     0     0      0
3  t   n      0     0     0     0     0     0     0     0     0     0      0
4  v   n      0     0     0     0     0     0     0     0     0     0      0